@import '~antd/dist/antd.css';

body {
  background-color: #f7f6f6;
}

.App {
  background-color: white;
  text-align: center;
  width: 70%;
  margin: 1em auto 0 auto;
  padding: 1em;
}

.Navbar {
  height: 5vh;
  margin: 1em 0 3em 0;
  display: flex;
  justify-content: space-between;
}

.TasksToolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  margin-bottom: 0.5em;
  background-color: #fafafa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
